html {
	margin: 0 0%;
	padding: 0;
}

#layout { 
	display: grid;
	grid-template-rows: 100px 500px 50px 1fr 50px 1fr 50px 1fr;  
	grid-template-columns: 1fr 1fr 1fr;  
}


#header { 
	grid-row-start: 1;  
	grid-row-end: 2;
	grid-column-start: 1;  
	grid-column-end: 4;
}

#photo { 
	grid-row-start: 2;  
	grid-row-end: 3;  
	grid-column-start: 1;  
	grid-column-end: 2;
}

#contact { 
	grid-row-start: 2;  
	grid-row-end: 3;  
	grid-column-start: 2;  
	grid-column-end: 3;
}
#links {  
	grid-row-start: 2;  
	grid-row-end: 3;  
	grid-column-start: 3;  
	grid-column-end: 4;
}

#skills { 
	grid-row-start: 3;  
	grid-row-end: 4;  
	grid-column-start: 1;  
	grid-column-end: 3;
}

#education {
	grid-row-start: 3;  
	grid-row-end: 4;  
	grid-column-start: 3;  
	grid-column-end: 4;
}

#professional {
	grid-row-start: 4;  
	grid-row-end: 5;  
	grid-column-start: 1;  
	grid-column-end: 2;
}

#ux {
	grid-row-start: 4;
	grid-row-end: 5;  
	grid-column-start: 2;  
	grid-column-end: 3;
}

#smad {
	grid-row-start: 4; 
	grid-row-end: 5;  
	grid-column-start: 3;  
	grid-column-end: 4;
}

#experience {
	grid-row-start: 5;  
	grid-row-end: 6;  
	grid-column-start: 1;  
	grid-column-end: 4;
}

#intern {
	grid-row-start: 6;  
	grid-row-end: 7;  
	grid-column-start: 1;  
	grid-column-end: 2;
}

#consultant {
	grid-row-start: 6;  
	grid-row-end: 7;  
	grid-column-start: 2;  
	grid-column-end: 3;
}

#assistant {
	grid-row-start: 6;  
	grid-row-end: 7;  
	grid-column-start: 3;  
	grid-column-end: 4;
}

#leadership {
	grid-row-start: 7;  
	grid-row-end: 8;  
	grid-column-start: 1;  
	grid-column-end: 2;
}

#pr {
	grid-row-start: 8;  
	grid-row-end: 9;  
	grid-column-start: 1;  
	grid-column-end: 2;
}

#courses {
	grid-row-start: 7;  
	grid-row-end: 8;  
	grid-column-start: 2;  
	grid-column-end: 4;
}

#foundations {
	grid-row-start: 8; 
	grid-row-end: 9;  
	grid-column-start: 2;  
	grid-column-end: 3;
}

#interaction {
	grid-row-start: 8;  
	grid-row-end: 9;  
	grid-column-start: 3;  
	grid-column-end: 4;
}


#header { background-color: red; }
#contact { background-color: orange; }
#links { background-color: green; }
#skills { background-color: blue; }
#education { background-color: purple; }
#experience { background-color: yellow; }
#leadership { background-color: pink; }
#courses { background-color: brown; }


/*body {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #FBEEC1;
	background-color: #282C49;
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-family: "Montserrat", sans-serif;
}

h1 {
	color: white;
	margin: 0px 0px 25px 0px;
}

h2 { 	
	color: #FE6B04;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 5px;
}

h3 {
	color: #F8AC38;
	font-weight: 400;
}

a, a:link, a:visited {
	color: #9CA9D3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
  	text-decoration-color: #FFD300;
	color: #FFA15E;
}

a:focus {
	color: #9CA9D3;
}

a:active {
	color: pink;
}


ul {
  list-style-image: url('images/star.gif');
}

.location {
	color: white;
}

.description::first-letter {
	font-size: 150%;
}

#contact, #links, #skills, #education, #experience, #leadership, #courses {
	line-height: 1.6;
	margin: 0px 100px 35px 100px;
}

header {

	width: 100%;
    height: 50%;
    margin-bottom: 30px;
    padding: 20px 0 70px 100px;
    
    background: url("images/stringlights.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 100vmax rgba(16, 17, 29, .8);
}*/
